

Software/\.metadata/\.log
Software/\.metadata/version\.ini

Documentation/soft ST/
Documentation/OpenEVSE/instructables/
Documentation/OpenEVSE/instructable_true/
Documentation/OpenEVSE/open_evse-stable/

Software/Tools/Socket/\./LastIp\.dat

*.pyc


