
Software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/
Software/\.metadata/\.plugins/org\.eclipse\.cdt\.core/

Software/\.metadata/\.log

Software/\.metadata/\.plugins/org\.eclipse\.cdt\.ui/

Software/\.metadata/\.plugins/org\.eclipse\.core\.resources/

Software/\.metadata/\.plugins/org\.eclipse\.e4\.workbench/

Software/\.metadata/version\.ini
